.homtext{
    margin: 0;
    padding: 10px 15px;
    position: relative;
    max-width: 60%;
    left: 12em;
    bottom: -10em;
    font-family: -webkit-body;
    line-height: 50%;
     animation: lightspeedinleft 1s ease-in-out forwards;
}

/* @keyframes lightspeedinleft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    60% {
        transform: translateX(20%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */

@media (max-width:768px){
    .homtext{
        left: 0;
        top: 12em;
        text-align: center;
    }
}

@media (max-width:568px){
    .homtext{
        left: 8em;
        top: 14em;
    }
}

@media (max-width:533px){
  .homtext{
      left: 7em;
      top: 14em;
  }
}

@media (max-width:375px){
  .homtext {
      left: 2em;
      text-align: center;
      top: 9em;
      max-width: 80%;
  }
}

/* banner home dan component */
.comp1{
  max-width: 60%;
  left: 36.2em;
  top: 6.3em;
  position: absolute;
  height: 83%;
}
@media (max-width:533px){
  .comp1{
    display: none;
  }
}

@media (max-width:768px){
  .comp1{
    display: none;
  }
}

@media (max-width:848px){
  .comp1{
    display: none;
  }
}

.comp2{
  position: absolute;
  left: 0;
  top: -6em;
  z-index: 0;
}
@media (max-width:533px){
  .comp2{
  width: 35%;
  }
}

@media (max-width:768px){
  .comp2{
  display: none;
  }
}




#bannerhome {
    transform: translateY(-9px);
    width: 20%;
    animation: bannerhome 5s linear infinite;
    position: relative;
    right: -60em;
    bottom: 7em;
    display: block;
  }

  @media (max-width:768px){
    #bannerhome {
        left: 31em;
        top: -1em;

    }
  }

  @media (max-width:568px){
    #bannerhome {
        left: 14em;
        top: -8em;
    }
  }

  @media (max-width:375px){
    #bannerhome {
        left: 9em;
        top: -9em;
        position: relative;
    }
  }

  @media (max-width:533px){
    #bannerhome{
      bottom: 11em;
    }
  }

  @media (max-width:848px){
    #bannerhome{
      right: -40em;
      bottom: -9em;
    }
  }

  @keyframes bannerhome {
    0% {
      transform: translateY(-10);
      -ms-transform: translateY(-10);
      -moz-transform: translateY(-10);
    }
  
    25% {
      transform: translateY(0px);
      -ms-transform: translateY(0px);
      -moz-transform: translateY(0px);
    }
  
    75% {
      transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
    }
  
    100% {
      transform: translateY(10);
      -moz-transform: translateY(10);
      -ms-transform: translateY(10);
    }
  }

  /* btn home component */
  
  .btn{
    width: 100%;
    display: flex;
    border: none;
  }

  @media (max-width:768px){
    .btn{
      justify-content: center;
    }
  }
  
  
  